@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
:root{
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
    --gradiente1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --gradiente2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    min-height: 100vh;
    background: url('images/bg-pattern-desktop.svg');
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}
.logo{
    position: absolute;
    left: 12%;
    top: 5%;
}
.mainContainer{
    width: 55%;
    margin: 13rem 0 0 14rem;
   
}
.deskPhoto{
    background-image: url('./images/hero-desktop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 50%;
}
.card{ 
    max-width: 505px;
    margin-top: 3rem;
}
.cardText h1{
    font-size: 6rem;
    text-transform: uppercase;
    letter-spacing: 1rem;
    color: var(--Dark-Grayish-Red);
}
.cardText p{
    margin-top: 2rem;
    color: var(--Desaturated-Red);
    line-height: 1.8rem;
}
.cardTextH1Span{
    color: var(--Desaturated-Red);
    font-weight: 100;
}
.insertEmail{
    margin-top: 3.5rem;
    display: flex;
    border: none;
}

.insertEmail #email{
    min-width: 490px;
    height: 3.5rem;
    border-style:solid;
    border-radius: 2rem;
    border-color: var(--Desaturated-Red);
    padding: 2rem;
    color: var(--Desaturated-Red);
    font-size: 1rem;
    letter-spacing: 0.2rem;
    outline:none;
}
.insertEmail #email:active{
    outline:none;
}
.insertEmail button{
    position: relative;
    min-width: 6.7rem;
    padding: 1rem;
    border-radius: 2rem 2rem;
    left: -6rem;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-style: none;
}
.insertEmail button:hover{
    background:hsl(0, 90%, 90%);
    cursor: pointer;
}
.insertEmail button:hover{
    box-shadow: 0px 15px 20px hsl(0, 74%, 74%);
    transform: scale(1.05);
}
#errorMsg{
    font-size: 14px;
    margin: -1rem 0 0 1.8rem;
    color: var(--Desaturated-Red);
    text-align: center;
    display: none;
}
.insertEmail #errorPhoto{
    position: relative;
    left: -120px;
    top: 20px;
    width: 30px;
    height: 30px;
    display: none;
}

@media screen and (max-width:1200px) {
   
    body{
        display: flex;
        flex-direction: column;
        background: linear-gradient(135deg,hsl(0, 112%, 100%), hsl(0, 100%, 98%)),linear-gradient(135deg,hsl(0, 80%, 86%), hsl(0, 74%, 74%));
        font-size: 18px;
        font-family: 'Josefin Sans', sans-serif; 
        align-items: center;

    }
    .mainContainer{
        margin: auto;
        min-width: 100%;
        text-align: center;
    }
    .mobilePhotoCon{
        background-image: url('./images/hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 250px;
        margin-bottom: 1rem;
    }
    .logo{
        margin: 20px 0 20px -350px;
        height: 50px;
        position: relative;

    }
    .card{
        min-width: 100%;
       
    }
    .cardText{
        margin-bottom: 30px;
    }
    
    .cardText h1{
        max-width: 300px;
        font-size: 60px;
        margin: auto;
        line-height: 70px;
    }
    .insertEmail{
        max-width: 600px;
        margin: auto;
    }
    .insertEmail #email{
        min-width: 390px;
        margin: auto;
        margin-left: 50px;
    }
    #errorMsg{
        position: relative;  
        left: -18%;
    }
    #errorPhoto{
        position: ab;
    }


}